@import "tailwindcss";

:root {
  --color-background: #234C6A;
  --color-foreground: #0c2b4e;
  --color-background-secondary: #f4f4f4f3;
  --color-foreground-secondary: #f4f4f4;
  --color-buttons: #456882;
  --color-stats-bar: #d2c1b6;
  --color-buttons-secondary: #1d546c;
}


body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: poppins, Arial, Helvetica, sans-serif;
}